@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(135deg, #bc85e6, #ffaaab); /* Adjusted purple gradient */
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 800px;
  position: relative;
  margin: 0 auto;
  box-shadow: 2px 18px 70px 0px #9d9d9d;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
}

.welcome-section {
  padding: 40px;
  text-align: center;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e7e7e7;
}

.welcome-section h1 {
  font-size: 42px;
  color: #696a86;
}

.welcome-section p {
  font-size: 24px;
  color: #696a86;
}

.form-container {
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  padding: 20px;
  position: relative; /* Ensure position relative for absolute positioning */
}

.form-container img.coming-soon-image {
  position: absolute;
  top: 20px; /* Adjust top position */
  right: 20px; /* Align to the right */
  max-width: 200px; /* Adjust max width as needed */
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch-link {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

.switch-link button {
  background: transparent;
  border: none;
  color: #696a86;
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  background: linear-gradient(to left, #ab68ca, #de67a3);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.drag-handle {
  width: 100%;
  text-align: center;
  cursor: ns-resize; /* Set cursor to vertical resize */
  padding: 10px;
  background: #f9f9f9;
  border-top: 1px solid #e7e7e7;
}

.drag-handle i {
  font-size: 20px;
  color: #696a86;
  margin: 0 5px;
}
