/* Register.css */
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
  padding: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.register-form label {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.register-form input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.register-form button {
  padding: 10px;
  font-size: 18px;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-form button:disabled {
  background-color: #ccc;
}

.register-form button:hover:not(:disabled) {
  background-color: #45a049;
}

.register-form .text-sm {
  font-size: 14px;
}

.register-form .text-yellow-500 {
  color: #ffd700;
}

.register-form .text-orange-500 {
  color: #ff7f00;
}

.register-form .underline {
  text-decoration: underline;
  cursor: pointer;
}
